.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: white;
    height: 600px;
    border-radius: 10px;
}

.error h3{
    font-size: 30px;
}