.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  background-color: var(--color-white);
  border-radius: var(--border-radius-md);
  width: 40%;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
  margin-top: 50px;
}

.modal-close-button {
  position: absolute;
  top: var(--space-sm);
  right: var(--space-sm);
  background: none;
  border: none;
  width: 50px;
  font-size: 1.8rem;
  cursor: pointer;
  color: black;
}

.modal-close-button:hover {
  color: var(--color-primary);
}

.modal-content {
  margin-top: var(--space-md);
}

.modal-title {
  color: var(--color-dark);
  text-align:start;
  font-size: 1.5rem;
  border-bottom: 1px solid #ccc;
  margin: 40px;
  margin-bottom: 10px;
}
