/* Layout principal */
.cliente-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

.cliente-main{
    max-width: 1200px;
    margin: 30px auto;
    /*width: 100%;
    display: flex;
    justify-content: center;
    background: white;
    padding: 30px; */
}

.cliente-compra{
    width: 600px;
    background: #f5ebe2;
    padding: 20px;
    border-radius: 15px;
    box-shadow: black 0px 0px 5px 1px;
}

.compra-nombre{
    color: var(--color-primary);
    font-size: 25px;
}

.compra-tour-horario{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 30px;
}

.tour-lugar-encuentro{
    display: flex;
    gap: 10px;
    font-size: 20px;
}
.tour-lugar-encuentro p:first-child{
    color: var(--color-primary);
    font-weight: bold;
}
.tour-lugar-encuentro p:last-child{
    text-transform: capitalize;
}

.cliente-main .container-btn{
    display: flex;
    justify-content: end;
    margin-top: 10px;
}