/* Contenedor de la tabla */
.table-container {
  background-color: white;
  padding: 10px;
  max-width: 1200px;
  margin-left: 25px;
}

/* Encabezado de la tabla */
.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.table-title {
  margin: 0;
  font-size: 1.5rem;
  color: #383D41;
  font-weight: 700; 
  margin-left: 50px;
}

/* Controles de la tabla */
.table-controls {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.table-search {
  padding: 0.5rem 1rem;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  width: 250px;
  font-size: 0.95rem;
  color: #383D41;
  transition: border 0.2s ease;
}

.table-search:focus {
  border-color: #C81E17; /* Bordes suaves al enfocar */
}

/* Botón general */
.table-button {
  width: 300px;
  height: 48px;
  background-color: #C81E17;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  text-align: center; 
  display: flex; /* Para que el contenido se centre */
  justify-content: center; /* Alineación horizontal */
  align-items: center; /* Alineación vertical */
}

.table-button .material-symbols-outlined{
  color: white;
  margin-left: 5px;
}

.table-button:hover {
  background-color: #8B2B1B;
  transform: translateY(-2px); /* Suave elevación */
}

/* Grupo de botones de acción */
.action-buttons {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.action-button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  justify-content: center; /* Centrado del texto */
  align-items: center; /* Alineación vertical */
  gap: 6px;
  transition: background-color 0.2s, transform 0.2s ease;
  width: 40px;
  height: 50px;
  color: #383D41;
} 

.material-symbols-outlined{
  color: #C81E17;
  cursor: pointer;
  width: 40px;
  transition: transform 0.2s ease;
}

.material-symbols-outlined:hover {
  transform: scale(1.2);
}
/* Estilo para las celdas de la tabla */
.table-cell {
  padding: 12px 18px;
  text-align: left; /* Alineación más fluida */
  font-size: 0.95rem;
  color: #383D41;
  border-bottom: 1px solid #f1f1f1;
}

.table-cell:hover {
  background-color: #f9f9f9; /* Fondo sutil al pasar el mouse */
}

/* Estilo para filas alternas */
.table-row:nth-child(even) {
  background-color: #fafafa; /* Fondo suave en filas pares */
}

/* Mejoras en la tabla */
.table {
  width: 100px;
  border-collapse: collapse;
}

.table th, .table td {
  text-align: left;
  padding: 12px 18px;
  font-size: 0.95rem;
  color: #383D41;
  border-bottom: 1px solid #f1f1f1;
}

.table th {
  background-color: #E5C9B3;
  color: #383D41;
  font-weight: 500;
  text-transform: uppercase;
}

.table tr:hover {
  background-color: #f1f1f1;
}
