.footer {
    background-color: #e9e9e9;
    color: var(--color-primary);
    padding: 20px 10px 10px;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.1);
}

.footer-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* Redes sociales */
.footer-social {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.social-icon {
    color: #000000;
    font-size: 1.8rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
}

.whatsapp:hover {
    color: #25D366;
}

.instagram:hover {
    color: #E1306C;
}

.facebook:hover {
    color: #3b5998;
}

/* Logo */
.footer-logo img {
    width: 200px;
    height: auto;
    filter: brightness(1.1);
}

/* Línea inferior */
.footer-bottom {
    border-top: 1px solid #B44F33;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
    font-size: 0.85rem;
    color: #000000;
}

/* Responsive */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    .footer-social {
        justify-content: center;
    }

    .footer-logo img {
        width: 90px;
    }
}
