/* Sección principal de paquetes */
.paquetes {
    padding: var(--space-xl) var(--space-lg);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--space-xl); /* Espaciado entre secciones */
}

/* Paquete Actual */
.actual-paquete {
    display: flex;
    flex-direction: row;
    gap: var(--space-lg);
    background-color: var(--color-white);
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-md);
    overflow: hidden;
    max-width: 1200px;
    width: 100%;
}

.actual-paquete img {
    width: 50%;
    object-fit: cover;
}

.paquete-info {
    padding: var(--space-xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    justify-content: center;
}

.paquete-info p {
    display: flex;
    gap: 5px;
}
.paquete-info p span{
    color: var(--color-primary);
    font-weight: bold;
}

.paquete-title {
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--color-primary);
    margin-bottom: var(--space-sm);
}

.paquete-location,
.paquete-date,
.paquete-hour {
    font-size: 1.2rem;
    color: var(--color-text-light);
}

.paquete-description {
    font-size: 1.1rem;
    color: var(--color-text);
    margin: var(--space-sm) 0;
    line-height: 1.6;
}

.paquete-price {
    font-size: 2.5rem;
    font-weight: bold;
    color: var( --color-primary);
}

/* Botón de contacto */
.btn {
    padding: var(--space-md) var(--space-lg);
    border-radius: var(--border-radius-md);
    font-size: 1.1rem;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    justify-content: center;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
}


/* Servicios incluidos */
.paquete-servicios {
    display: flex;
    gap: var(--space-md);
    justify-content: center;
}

.paquete-servicios p {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-primary);
    margin-bottom: var(--space-sm);
}

.servicios-icons {
    display: flex;
    gap: var(--space-md);
    flex-wrap: wrap;
}
.otros-servicios-icons {
    justify-content: center;
    margin: 10px 0;
}

.servicio-icon {
    font-size: 2rem;
    color: var(--color-primary);
    cursor: pointer;
}

.servicio-icon:hover {
    transform: scale(1.5);
    color: var(--color-primary-hover);
}

/* Lista de otros paquetes */
.paquete-list {
    width: 100%;
    max-width: 1200px;
}

.paquete-list-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-primary);
    text-align: center;
    margin-bottom: var(--space-lg);
}

.paquete-items {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-lg);
    justify-content: center;
}

/* Card de cada paquete */
.paquete-item {
    background-color: var(--color-white);
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-md);
    overflow: hidden;
    width: 285px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* .paquete-item:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow-md), 0 4px 15px rgba(0, 0, 0, 0.1);
} */

.paquete-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.paquete-item-info {
    padding: var(--space-md);
    text-align: center;
}

.paquete-item-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--color-primary);
}

.paquete-item-location {
    font-size: 1rem;
    color: var(--color-text-light);
}

.paquete-item-location span{
    color: var(--color-primary);
}

.paquete-item-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-primary);
}

/* Skeleton Loader */
.skeleton-image {
    width: 100%;
    height: 200px;
    background-color: var(--color-hover);
    border-radius: var(--border-radius-sm);
    animation: skeleton-loading 1.5s infinite;
}

.skeleton-title {
    width: 70%;
    height: 20px;
    background-color: var(--color-hover);
    border-radius: var(--border-radius-sm);
    animation: skeleton-loading 1.5s infinite;
}

.skeleton-text {
    width: 90%;
    height: 15px;
    background-color: var(--color-hover);
    border-radius: var(--border-radius-sm);
    animation: skeleton-loading 1.5s infinite;
}

.skeleton-button {
    width: 50%;
    height: 30px;
    background-color: var(--color-hover);
    border-radius: var(--border-radius-md);
    animation: skeleton-loading 1.5s infinite;
}

.actual-paquete-skeleton {
    display: grid;
    grid-template-columns: 40% 60%;
}
/* Animación de carga */
@keyframes skeleton-loading {
    0% {
        background-color: var(--color-hover);
    }
    50% {
        background-color: #e0e0e0;
    }
    100% {
        background-color: var(--color-hover);
    }
}

.no-paquete{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: var(--space-lg);
    background-color: var(--color-white);
    height: 300px;
}